.top-bar{
    height: 30px;
    align-items: center;
}
.score {
  text-align: center; 
  font-size: 20px; 
  font-family: monospace; 
  color:whitesmoke;
}
.heading {
  text-align: center;
  margin:10px; 
  font-size: 44px; 
  font-family: monospace; 
  color:whitesmoke;
}
.snake-board{
    width: 600px;
    height: 600px;
    display: inline-block;
    position: relative;
    text-align: center;
    border: 2px solid; 
    border-color: antiquewhite;
    margin-top: 100px;
}
.contents {
    /* match size of .container, without influencing it */
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.snake-head{
    width: 30px;
    height: 30px;
    background-color: greenyellow;
    position: absolute;
    z-index: 1;
}

.snake-body {
    width: 30px;
    height: 30px;
    background-color: black;
    position: absolute;
}
.snake-fruit {
    width: 30px;
    height: 30px;
    background-color: red;
    position: absolute;
}

.playButton {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 200px;
}

.playButton:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.playButton:main,
.playButton:focus {
  user-select: auto;
}

.playButton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.playButton:disabled {
  cursor: auto;
}